### Node.js ###
# Ignore node_modules folder
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
front/.env
back/.env
.env.local
.env.*.local

# Dependency directories
front/node_modules
back/node_modules
jspm_packages/

# Build artifacts
dist/
build/

# Editor directories and files
.vscode/
.idea/
.DS_Store

# Optional npm cache
.npm/

# TypeScript
*.tsbuildinfo

# Others
coverage/

# Ignore lock files if using a different package manager
package-lock.json
yarn.lock
pnpm-lock.yaml
